<html>
<head>
<meta content="text/html; charset=utf8">
<link href="<{$t_dir}>css/my.css" rel="stylesheet" type="text/css" />

</head>



<div class="main" style="margin-left:100px">


<div><img style="width:200px;height:200px" src="<{$user_data.img_url}>"></div>
<{$userimg}>
<table width="410" border="0">
	
  <tr>
    <td width="88">用&nbsp;户&nbsp;名：</td>
    <td width="168"><{$user_data.username}></td>
    <td id="u_check" style="display:none" width="140">111111&nbsp;</td>
  </tr>
  
 
  <tr>
    <td>昵&nbsp;&nbsp;&nbsp;&nbsp;称：</td>
    <td><{$user_data.name}></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>运&nbsp;&nbsp;&nbsp;&nbsp;动：</td>
    <td><{$sports}></td>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>注册时间：</td>
    <td><{$reg_time}></td>
    <td>&nbsp;</td>
  </tr>
  
  
</table>
<{$userinfo}>
<{$sendletter}>

</div>





</html>