<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>居然之家网店首页</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/red.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="content border_bottom">
	 <ul id="sub_nav">
		 <li><a href="#">设为首页</a></li>
		 <li><a href="#">加入收藏</a></li>
		 <li class="nobg"><a href="#">联系我们</a></li>
	 </ul>
	      <img src="img/logo.gif" alt="居然之家" name="logo" width="200" height="75" id="logo" />
		  <img src="img/adv-txt.gif" alt="" name="adv_txt" width="644" height="22" id="adv_txt" />
		  <br class="clear" />
</div>
<div class="content dgreen-bg">
     <div class="content">
	 <ul id="main_nav">
		 <li class="nobg"><a href="#">网店首页</a></li>
		 <li><a href="#">公司介绍</a></li>
		 <li><a href="#">资质认证</a></li>
		 <li><a href="#">产品展示</a></li>
		 <li><a href="#">视频网店</a></li>
		 <li><a href="#">招商信息</a></li>
		 <li><a href="#">招聘信息</a></li>
		 <li><a href="#">促销活动</a></li>
		 <li><a href="#">企业资讯</a></li>
		 <li><a href="#">联系我们</a></li>
	 </ul><br class="clear" />
	 </div>
</div>

<div id="about">
     <div class="content">
	      <span class="left"><a href="#">网店首页</a> | <a href="#">公司介绍</a> | <a href="#">资质认证</a> | <a href="#">产品展示</a> | <a href="#">视频网店</a> | <a href="#">招商信息</a> | <a href="#">招聘信息</a> | <a href="#">促销活动</a> | <a href="#">企业资讯</a> | <a href="#">联系我们</a></span>
		  <span class="right">目前已有[134987775]点击</span>
	 </div>
</div>
<p id="copyright">
此模版由 <a href="http://www.psvi.net">视觉前沿</a> 收集整理--仅供学习参考 切勿用于商业用途
</p>
</body>
</html>
